@model IEnumerable<Library.Models.Models.TravelPackageCityAttraction>

@{
    ViewData["Title"] = "Index";
    int tpId = Model.FirstOrDefault().TravelPackageCityId;
}

<h1>City Attractions </h1>

<h2>@Html.DisplayFor(model => model.FirstOrDefault().TravelPackageCity.City.Name)</h2>

<p>
    @Html.ActionLink("Add Attraction", "Create", new {  id=tpId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelPackageCityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityAttractionId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelPackageCity.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityAttraction.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
